.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #2c2e30;
  font-weight: 400;
}

.description {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
  color: #64748b;
}

.image {
  display: flex;
  justify-content: flex-end;
}

.list-card-container {
  background-color: #ffffff;
  border-radius: 10px;
  list-style-type: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 48px;
  max-width: 300px;
}
